{% extends 'base.html' %}
{% block title %}Lista de Productos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Productos</h2>
    <a href="{{ url_for('crear_producto') }}" class="btn btn-success mb-3">+ Crear Producto</a>

    {% if productos %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id_producto }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                    <a href="{{ url_for('editar_producto', id_producto=producto.id_producto) }}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{{ url_for('eliminar_producto', id_producto=producto.id_producto) }}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay productos registrados.</p>
    {% endif %}
</div>
{% endblock %}
