{% extends "base.html" %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
    <h2>Lista de Usuarios</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo Electrónico</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.idusuarios }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
